Multiple pages found

<ul>
  <%=
  pages.map do |page|
    url = collection_display_page_url(page.collection.owner, page.collection, page.work, page)
    "<li>#{link_to(page.title, url)}</li>"
  end
  %>
</ul>