<h1>List of collections</h1>
<ul>
  <%=
  Collection.order(:title).all.map { |collection|
    "<li><a href='/emldict/parsed/#{collection.slug}'>#{collection.title}</a></li>"
  }.join("").html_safe
  %>
</ul>