<h1>List of works</h1>
<ul>
  <%=
  # <a href='/emldict/parsed/#{collection.slug}'>#{collection.title}</a>
  @collection.works.order(:title).all.map { |work|
    work_url = emldict_parsed_work_show_path(parsed_collection_slug: @collection.slug, work_slug: work.slug)
    "<li>#{link_to(work.title, work_url)}</li>"
  }.join("").html_safe
  %>
</ul>