  <h1><%= @work.title %></h1>
<div class="all-pages-link-wrapper">
  <%= link_to("All pages combined parsed output", emldict_parsed_work_show_path(parsed_collection_slug: @collection.slug, work_slug: @work.slug), class: "button") %>
  <%= link_to("Needs review pages", emldict_parsed_work_needs_review_show_path(parsed_collection_slug: @collection.slug, work_slug: @work.slug), class: "button") %>
</div>

<%
export_url = emldict_parsed_work_export_path(parsed_collection_slug: @collection.slug, work_slug: @work.slug, page: params[:page])

paginate_page_param = if @page
  params[:page]
else
  1
end
%>

<p>Pages that have "needs_review" in it.</p>

<ul>
  <% Page.where('source_text LIKE "%needs_review%"').map do |page| %>
    <li><%= link_to("Page #{page.position}", collection_transcribe_page_path(page.collection.owner, page.collection, page.work, page), target: "blank") %></li>
  <% end %>
</ul>

<style>
.pagination, .all-pages-link-wrapper {
  display: table;
  margin: 30px auto;
}
.pagination a, .pagination em, .pagination span, .button {
  border: 1px solid #000;
  padding: 4px 8px;
  margin: 0 12px;
}
</style>