<h1><%= @work.title %></h1>
<div class="all-pages-link-wrapper">
  <%= link_to("All pages combined parsed output", emldict_parsed_work_show_path(parsed_collection_slug: @collection.slug, work_slug: @work.slug), class: "button") %>
  <%= link_to("Needs review pages", emldict_parsed_work_needs_review_show_path(parsed_collection_slug: @collection.slug, work_slug: @work.slug), class: "button") %>
</div>

<%
export_url = emldict_parsed_work_export_path(parsed_collection_slug: @collection.slug, work_slug: @work.slug, page: params[:page])

paginate_page_param = if @page
  params[:page]
else
  1
end
%>

<%= will_paginate(@work.pages.order(:position).paginate(page: paginate_page_param, per_page: 1)) %>

<% if @page %>
  <h1>Page <%= @page.position %></h1>
  <ul>
    <li>Page title: <%= @page.title %></li>
    <li>Page position: <%= @page.position %></li>
  </ul>
<% else %>
  <h1>All pages combined</h1>
<% end %>

<% if @parse_exception.nil? %>
  <h2>Words - <%= @parse_output.size %></h2>
  <a class="button" href="<%= export_url %>">Export as CSV</a>
  <pre><code><%= JSON.pretty_generate(@parse_output) %></code></pre>
<% else %>
  There was an error in processing some pages.
  <pre><code style="width: 100%;white-space: pre-wrap;"><%= @parse_exception %></code></pre>
<% end %>

<style>
.pagination, .all-pages-link-wrapper {
  display: table;
  margin: 30px auto;
}
.pagination a, .pagination em, .pagination span, .button {
  border: 1px solid #000;
  padding: 4px 8px;
  margin: 0 12px;
}
</style>