<h1>emldict</h1>

Source code: https://gitlab.com/subins2000/emldict-fromthepage

<ul>
  <li><%= link_to("List of collections", emldict_parsed_index_path) %></li>
</ul>

<h2>Transcribe helpers</h2>

<ul>
  <li><%= link_to("Abbreviations & key to pronunciation", root_url + "emldict/key-helpers.jpg") %></li>
</ul>