@import "base/ftp_color_scheme";



// ---------------------------
// TYPOGRAPHY
// ---------------------------

$remSize:                   10px;
$iconSize:                  16px;
$iconMargin:                0.375em;
$lineHeight:                1.375;

$fontFamily:                'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
$fontFamilyHead:            'Crete Round', Georgia, 'Times New Roman', Times, serif;

$fontSizeSmall:             14px;
$fontSize:                  16px;
$fontSizeBig:               18px;
$fontSizeStrong:            20px;
$fontSizeH5:                20px; //125%
$fontSizeH4:                24px; //150%
$fontSizeH3:                28px; //175%
$fontSizeH2:                32px; //200%
$fontSizeH1:                40px; //250%

// ---------------------------
// EASING FUNCTIONS
// ---------------------------

$easeOutCubic:              cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutElastic:            cubic-bezier(0.1, 1.3, 0.7, 1.1);

// ---------------------------
// BUTTONS & INPUTS
// ---------------------------

$btnHeight:                 2em;
$btnPadding:                0.75em;
$btnIconPadding:            0.6em;
$btnBorderRadius:           0.25em;
$btnTransitionTime:         0.1s;
$btnFontWeight:             normal;
$btnFontSize:               $fontSize;
$btnFontSizeBig:            $fontSizeBig;
$btnFontSizeSmall:          $fontSizeSmall;
$btnFontSizeStrong:         $fontSizeStrong;
$btnFontFamily:             $fontFamily;
$btnColor:                  #532;
$btnBackground:             #EFE9E6;
$btnFocusBorder:            #09F;
$btnDisabledColor:          #AAA;
$btnDisabledBackground:     #EEE;
$btnRedColor:               #FFF;
$btnRedBackground:          #E33;
$btnGreenColor:             #FFF;
$btnGreenBackground:        #8C3;
$btnBlueColor:              #FFF;
$btnBlueBackground:         #3AE;
$btnOrangeColor:            #FFF;
$btnOrangeBackground:       #F83;

$inputHeight:               2em;
$inputPadding:              0.375em;
$inputBorderRadius:         0;
$inputTransitionTime:       0.2s;
$inputFontSize:             $fontSize;
$inputFontFamily:           $fontFamily;
$inputColor:                #000;
$inputBackground:           #FFF;
$inputBorderColor:          rgba(#000, 0.15);
$inputFocusBorder:          rgba(#433, 0.45);
$inputDisabledColor:        #888;
$inputDisabledBackground:   #F9F9F9;
$inputInvalidColor:         #C00;

// ---------------------------
// LAYOUT
// ---------------------------

$widthMax:                  1440px;
$widthL:                    1024px;
$widthM:                    900px;
$widthMin:                  768px;

$gapSize:                   20px;

@import "base/normalize";
@import "base/global";
@import "base/helpers";

@import "components/forms";
@import "components/buttons";
@import "components/dropdown";
@import "components/litebox";

@import "components/shared";
@import "components/layout";

@import "sections/home";
@import "sections/software";
@import "sections/contact";
@import "sections/project";
@import "sections/signon";
@import "sections/deed";
@import "sections/dashboard";
@import "sections/collection";
@import "sections/article";
@import "sections/page";
@import "sections/work";
@import "sections/user";
@import "sections/ia-import";
@import "sections/iiif-import";

@import "plugins/select2/core";

#welcome-message {
  width: 480px;
  .button {
    border: 0;
    color: #FFF;
    display: block;
    line-height: 2.5;
    box-shadow: none;
    background-image: none;
    margin: 1.5em 0 0.5em 0;
    font-size: $fontSizeStrong;
    background-color: mix($bodyBg, #322, 50%);
    &:hover, &:focus, &:active {
      background-color: mix($bodyBg, #322, 30%);
    }
  }
}

.mt-10 {
  margin-top: 10px;
}


$thredded-base-font-family: $fontFamily;
$thredded-heading-font-family: $fontFamilyHead;

$thredded-base-font-size: $fontSize;
$thredded-font-size-small: $fontSizeSmall;
$thredded-base-line-height: $lineHeight;

$thredded-heading-line-height: $lineHeight;

// $widthMax was in px
$thredded-grid-container-max-width: 90rem;


$thredded-button-background: $btnBackground;
$thredded-button-color: $btnColor;
$thredded-button-hover-background: darken($thredded-button-background, 15%) !default;
$thredded-button-hover-color: $thredded-button-color !default;

$thredded-button-light-background: lighten($thredded-button-background, 35%) !default;
$thredded-button-light-color: darken($thredded-button-background, 15%) !default;
$thredded-button-light-hover-background: darken($thredded-button-light-background, 15%) !default;
$thredded-button-light-hover-color: darken($thredded-button-light-color, 15%) !default;


$thredded-button-border-radius: $btnBorderRadius;
$thredded-button-font-family: $btnFontFamily;
$thredded-button-font-size: $btnFontSize;
$thredded-button-font-weight: $btnFontWeight;
$thredded-button-line-height: 1 !default;

$thredded-messageboards-grid-item-border-color: rgba(#000, 0.15);

$thredded-messageboard-title-font-size: $fontSize;
$thredded-topic-header-font-size: $fontSize;
$thredded-topic-header-font-size-tablet-and-up: $fontSize;


@import "thredded";

// ---------------------------
// Thredded Overrides
// ---------------------------



.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }
}


.thredded--post--content {
  font-size: $fontSize;
  line-height: $lineHeight;
  // TODO?
  word-break: break-word;
  a {
    @extend %thredded--link;
  }
  p {
    @extend %thredded--paragraph;
  }
  hr {
    @extend %thredded--hr;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  table {
    @extend %thredded--table;
  }
  blockquote {
    @extend %thredded--blockquote;
  }
  pre {
    overflow-x: auto;
  }
}

.thredded--topic-header--follow-info {
  @include thredded-media-desktop-and-up {
    max-width: 35rem;
  }
}


.thredded--topics--title {
  @extend %thredded--heading;
  display: inline;
  font-size: $fontSize;
  line-height: $lineHeight;
}


.thredded--main-navigation { 
//  display: none; 
}



// our h3 are h1 in Thredded
h1, .thredded--topic-header--title {
  color: $fgH3;
  font-size: $fontSizeH3;
}

// our h5 are h3 in Thredded
h3, .thredded--post-form--title {
  color: $fgH5;
  font-size: $fontSizeH5;
}


@import "datepicker/datepicker";
@import "jquery.ui.all";
@import "handsontable.min";