<%
parsed_output_url = emldict_parsed_work_show_url(parsed_collection_slug: @collection.slug, work_slug: @work.slug, page: @page.position)
%>

<style id="toolbarCustomCss"></style>

<script>
(() => {
  const run = () => {
    jQuery(".flex-toolbar div:first").after(`
      <div class='flex-toolbar_group'>
        <div style="display: flex;align-items: center;">
          <span>Font size:</span>&nbsp;<input id="fontSizeInput" type="number" value="20" style="width: 100px" />
        </div>
        <span style="margin-left: 20px;">
          <a href='<%= parsed_output_url %>' target='_blank'>
            <span id="parseStatus"></span> ↗️
          </a>
        </span>
      </div>
      `
    )

    jQuery.ajax({url: "<%= parsed_output_url %>", statusCode: {
      200: () => jQuery("#parseStatus").html("<font color='green'>Syntax OK</font>"),
      422: () => jQuery("#parseStatus").html("<span style='background: red; color: white;padding: 6px 2px;'>Syntax error, click to see error</span>")
    }})

    const changeFontSize = (size = "20") => {
      jQuery("#toolbarCustomCss").html(`.CodeMirror .CodeMirror-code {font-size: ${size}px;}`)
      jQuery('.CodeMirror').each(function(i, el) {
        el.CodeMirror.refresh();
      });
      localStorage["editorFontSize"] = size
    }

    jQuery("#fontSizeInput").on("change", event => {
      changeFontSize(event.target.value)
    })

    jQuery("#fontSizeInput").val(localStorage["editorFontSize"] || "20").change()
  }

  const interval = setInterval(() => {
    if (typeof jQuery === "undefined") return
    clearInterval(interval);
    run();
  }, 1000);
})();
</script>