<%# <script src="http://localhost:8000/dist/example.js"></script>
<link href="http://localhost:8000/dist/style.css" rel="stylesheet" /> %>

<script>
var varnam;

function activateVarnam() {
  varnam = plugVarnam(document.getElementsByClassName("CodeMirror-code")[0], {schemeID: "ml"})
}

function deactivateVarnam() {
  varnam.unplug()
}

const varnamToggleSelect = document.createElement("select");
["English", "Malayalam"].forEach(item => {
  const option = document.createElement("option");
  option.innerHTML = item;
  option.setAttribute("value", item);
  varnamToggleSelect.appendChild(option);
});
varnamToggleSelect.style.marginRight = "20px"
varnamToggleSelect.onchange = e => {
  if (e.target.value === "Malayalam") {
    activateVarnam()
  } else {
    deactivateVarnam()
  }
}

function toggleVarnam() {
  if (varnamToggleSelect.value === "English") {
    varnamToggleSelect.value = "Malayalam"
  } else {
    varnamToggleSelect.value = "English"
  }
  varnamToggleSelect.dispatchEvent(new Event("change"));
}

function initVarnam() {
  const varnamToggleSelectWrapper = document.createElement("div")
  varnamToggleSelectWrapper.classList.add("flex-toolbar_group")
  varnamToggleSelectWrapper.classList.add("push-right")
  varnamToggleSelectWrapper.appendChild(varnamToggleSelect)

  const toolbar = document.querySelector(".flex-toolbar")
  toolbar.insertBefore(varnamToggleSelectWrapper, document.querySelector(".flex-toolbar_group.push-right"))

  document.addEventListener("keydown", event => {
    const isAltZ = event.keyCode === 90 && event.altKey;
    const isCtrlDot = event.keyCode === 190 && event.ctrlKey;
    if (isAltZ || isCtrlDot) {
      event.preventDefault();
      toggleVarnam();
    }
  })
}

// initVarnam()
</script>